/* Custom ScrollBar Chrome Opera */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: #00b3ff;
}
::-webkit-scrollbar-thumb:hover {
  background: #ff0088;
}
/* Custom ScrollBar FireFox */
:root {
  scrollbar-color: #00b3ff #ffffff;
  scrollbar-width: thin;
}
